body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.input-row:after {
  clear: both;
  content: "";
  display: table;
}

.input {
  margin-bottom: 10px;
  border: thin solid black;
}

.button {
  background: #fff;
  border: 1px solid #999;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.button:focus {
  outline: none;
}

.app {
  display: flex;
  flex-direction: row;
}
